body {
    background-color: #242424;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.container-form {
    background-color: white;
    border-radius: 15px;
    width: 500px;
    height: 500px;
    color: black;
}

.container-form h1{
    user-select: none;
}

.container-form .button {
    background:none;
    border: none;
    border-radius: 15px;
    background-color: #2e75d1;
    color: white;
    padding: 15px;
    font-size: large;
    cursor: pointer;
    margin: 10px;
}

.have_button {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu-content {
    display: block;
}
